@page
@using System.Data.SqlClient;
@using WebTatIntek.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <div class="row">

             <div class="col-md-12 col-sm-12">
                  <div class="section-title" style="text-align: center;">
                       <h2>Успешная регистрация </h2>    
                  </div>
             </div>
            
             <!---->
             <div style="text-align: center;"> 
                 
                 <p>Аккаунт успешно создан!</p> 
                  
             </div>
             <!---->
        </div>
    </div>
          
</section>